@import "footer";
@import "header";
@import "navbar";
@import "variables";
@import "generales";
@import "social";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

.text-about {
    font-family: 'Cinzel', serif;
    color: #000000;
}
.linksdown {
    display: flex;
    justify-content: center;
    align-items: center;
    .linkdown {
        font-family: 'Teko', sans-serif;
        color: #778899;
    }
  }
@media screen and (max-width: 576px) {
    .card {
        color: magenta;
        .card-title {
            color: slateblue;
        }
        .card-img-top {
            transition: all 3s ease;
            &:hover {
                transform: rotate(5deg);
            }
        }
    }
}